@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App{
  background: black;
  text-align: center;
  height: 100vh;
}

.logo{
  max-width: 400px;
  display: inline;
  margin-top: 30px;
}

p{
  color: #FBF2C1;
  font-family: 'Open Sans', sans-serif;
}